name: Execute SQL Scripts in Snowflake

on:
  push:
    branches:
      - main

jobs:
  execute_sql_scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install SnowSQL
        run: |
          curl -O https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/1.2/linux_x86_64/snowsql-1.2.9-linux_x86_64.bash
          SNOWSQL_DEST=~/bin SNOWSQL_LOGIN_SHELL=~/.profile bash snowsql-1.2.9-linux_x86_64.bash
          source ~/.profile
          snowsql --version

      - name: Configure SnowSQL
        env:
          SNOWSQL_ACCOUNT: ${{ secrets.SNOWSQL_ACCOUNT }}
          SNOWSQL_USER: ${{ secrets.SNOWSQL_USER }}
          SNOWSQL_PASSWORD: ${{ secrets.SNOWSQL_PASSWORD }}
          SNOWSQL_DATABASE: ${{ secrets.SNOWSQL_DATABASE }}
          SNOWSQL_SCHEMA: ${{ secrets.SNOWSQL_SCHEMA }}
        run: |
          echo "[connections.dev]" > ~/.snowsql/config
          echo "accountname = $SNOWSQL_ACCOUNT" >> ~/.snowsql/config
          echo "username = $SNOWSQL_USER" >> ~/.snowsql/config
          echo "password = $SNOWSQL_PASSWORD" >> ~/.snowsql/config
          echo "dbname = $SNOWSQL_DATABASE" >> ~/.snowsql/config
          echo "schemaname = $SNOWSQL_SCHEMA" >> ~/.snowsql/config

      - name: Execute SQL Scripts
        run: |
          # Add a command to change to the directory where your SQL scripts are located
          cd steps

          # List all SQL script files in the directory
          sql_files=$(find . -type f -name "*.sql")

          # SnowSQL connection string
          snowsql_connection="dev"

          for sql_file in $sql_files; do
            # Construct the SnowSQL command
            snowsql_cmd="snowsql -c ${snowsql_connection} -f ${sql_file}"
            
            # Execute the SQL script using subprocess
            try
              $snowsql_cmd
            except Exception as e:
              echo "Error executing $sql_file: $e"
              # You can choose to handle errors or continue with the next script
          done

