name: SnowSQL
env:
  SNOWSQL_DEST: ~/snowflake
  SNOWSQL_ACCOUNT: HYUGZMI-NFB65118
  SNOWSQL_USER: SANJU1209
  SNOWSQL_PWD: ${{ secrets.SNOWFLAKE_PASSWORD }}
  
on: push                                                  
jobs:                         
  executequery:                           
    name: Install SnowSQL                          
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: steps  # Set the working directory for all steps in this job to "steps"
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Download SnowSQL
      run: curl -O https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/1.2/linux_x86_64/snowsql-1.2.9-linux_x86_64.bash
    - name: Install SnowSQL
      run: SNOWSQL_DEST=~/snowflake SNOWSQL_LOGIN_SHELL=~/.profile bash snowsql-1.2.9-linux_x86_64.bash
    - name: Test installation
      run: ~/snowflake/snowsql -v
    # - name: Create Database
    #   run: ~/snowflake/snowsql -f 1.database.sql
    # - name: Import data
    #   run: ~/snowflake/snowsql -f 2.importing_data.sql
    - name: Execute UDFs
      run: ~/snowflake/snowsql -f 3.User_Defined_Functions.sql;
    - name: Execute Use Case 1
      run: ~/snowflake/snowsql -f 4.USE_CASE_01.sql
    - name: Execute Use Case 2
      run: ~/snowflake/snowsql -f 5.USE_CASE_02.sql
    - name: Execute Use Case 3
      run: ~/snowflake/snowsql -f 6.USE_CASE_03.sql
    

    
